*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contact{
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;

}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.contact-info p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}
.contact-info i{
    color: #4caf50;
    margin-right: 10px;
}
@media screen and (max-width: 768px){
    .container{
    padding: 20px;
    }
    .contact-wrapper{
    grid-template-columns: 1fr;
}
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("background.jpg");
}

header {
  width: 100%;
  padding: 0.5rem 6%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; 
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  z-index: 1000;
}


header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 150px;
  height: auto;
}

.logo h1 {
  font-size: 1.6rem;
  color: #222;
}

.logo span {
  color: #606c38;
  font-style: italic;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  transition: 0.3s;


}

nav a:hover {
  color: #dda15e;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  background: #dda15e;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

  .w3-content {
      max-width: 1200px;
      width: 90%;
      margin: 40px auto;
 
    }

    .mySlides {

      width: 100%;
      border-radius: 50px;
      margin-top: 1%;
      animation: fade 1.2s ease-in;

    }

    @keyframes fade {
      from { opacity: 0; transform: scale(1.02); }
      to { opacity: 1; transform: scale(1); }
  
    }