* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-image: url("bodybg.jpg");
}

header {
  width: 100%;
  padding: 0.5rem 6%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; 
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  z-index: 1000;
}


header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 150px;
  height: auto;
}

.logo h1 {
  font-size: 1.6rem;
  color: #222;
}

.logo span {
  color: #606c38;
  font-style: italic;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  transition: 0.3s;


}

nav a:hover {
  color: #dda15e;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  background: #dda15e;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}