*{
    padding: 2=0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contact{
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin-left: 20%;
    margin-bottom: 10%;

}
.container{
    max-width: 800px;
    margin-left: 0 auto;
    padding: 40px;
   
}
.container h2{
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.form-group{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    height: 50%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
}
.textarea{
    padding: 1000px;
   
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.contact-info p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}
.contact-info i{
    color: #4caf50;
    margin-right: 10px;
}
@media screen and (max-width: 768px){
    .container{
    padding: 20px;
    }
    .contact-wrapper{
    grid-template-columns: 1fr;
}
}
body {
    
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 0%;
    min-height: 100vh;
    background-image: url("background.jpg");
}


footer {
  background-color: #dda15e;
  text-align: center;
  padding: 40px 20px;
  color: #2d2d2d;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.footer-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-logos img {
  width: 80px;
  margin: 10px;
  border-radius: 12px;
}

.footer-info {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.6;
}

.footer-socials {
  margin-top: 15px;
}

.footer-socials img {
  width: 60px;
  margin: 0 10px;
}
