* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-image: url("bodybg.jpg");
}


header {
  width: 100%;
  padding: 0.5rem 6%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; 
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  z-index: 1000;
}


header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 150px;
  height: auto;
}

.logo h1 {
  font-size: 1.6rem;
  color: #222;
}

.logo span {
  color: #606c38;
  font-style: italic;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  transition: 0.3s;


}

nav a:hover {
  color: #dda15e;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  background: #dda15e;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* Main Container */
.container {
    padding: 30px 70px;
    margin-top: 7%;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Profile Header */
.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info h2 {
    font-size: 28px;
}

.subtext {
    font-size: 12px;
    color: gray;
    letter-spacing: 1px;
}

/* Information Card */
.info-card {
    margin-top: 30px;
    background: #fff;
    padding: 35px;
    border-radius: 30px;
    display: flex;
    gap: 120px;
    width: 80%;
    box-shadow: 0px 5px 18px rgba(0,0,0,0.1);
}

.info-section h3 {
    margin-bottom: 10px;
}

.info-section p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.location {
    margin-top: 10px;
}

.pin {
    color: red;
}